body {
    margin: 0;
    padding: 0;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.quiz-header .container {
    display: flex;
    width: 80%;
    margin: auto;
}

.quiz-header {
    border: 0.5px solid #ccc;
    height: var(--tamanho-header);
}

.quiz-header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.quiz-header a {
    text-decoration: none;
    color: #ffffff;
}

.btn-voltar {
    background-color: #3f51b5;
    border: 0.5px solid #000;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px;
    margin: 10px 0px 0px 0px;
    transition: transform 0.2s ease;
}

.btn-voltar:hover {
    transform: scale(1.05);
    background-color: #303f9f;
    cursor: pointer;
}

.quiz-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(to bottom, #e3f2fd, #ffffff);
}

.quiz-box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.titulo {
    text-transform: uppercase;
}

.quiz-pergunta {
    font-size: 1.2rem;
    color: #333333;
}

.quiz-opcoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quiz-opcoes span {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quiz-opcoes input[type="radio"] {
  accent-color: #303f9f;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.opcao {
  background-color: #303f9f;
  color: #fff;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
  min-width: 120px;
}

.opcao.selecionado,
.quiz-opcoes input[type="radio"]:checked + .opcao {
  background-color: #4CAF50;
  border: 2px solid #388E3C;
  color: #fff;
}

.quiz-progresso {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

.quiz-controle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-proximo {
    width: 30%;
    border: 2px solid #3e78bb;
    border-radius: 12px;
    background-color: #4A90E2;
    color: #ffffff;
    font-size: 1.2em;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-proximo:hover {
  background-color: #357ABD;
}

#btnIniciarQuiz {
    width: 40%;
    border: 2px solid #3e78bb;
    border-radius: 12px;
    background-color: #4A90E2;
    color: #ffffff;
    font-size: 1.2em;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-iniciar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quiz-geral{
    display: flex;
}